table {
    border-collapse: collapse;                                             /*border-top:1px solid #000 - одна линия;*/
    }
   td {
    border: 1px solid #800;
    padding: 4px; 
    }
    
    .red{
       color:red;
   }
   .green{
       color:green;
   }
   .blue{
       color:#007eff;
   }
   .bold{
       font-weight:600;
   }
   .italic{
       font-style:italic;
   }
   .underline{
       text-decoration:underline;
   }
   
   .referat__pretitle{
       color:orange;
       font-style:italic;
       font-weight:400;
   }
   .referat__title{
       color:#007eff;
       font-weight:400;
       
   }
   